Screen {
    align: center middle;
}

Button {
    margin: 0 2;
    text-align: center;
}

.horizontal {
    layout: horizontal;
}

.vertical {
    layout: vertical;
}

Switch {
    height: auto;
    width: auto;
}

.bg-red {
    background: red;
}

.mt {
    margin-top: 2;
}

.my {
    padding: 1 0 ;
}

.mx {
    margin: 0 4;
}

.pt {
    padding-top: 2;
}

.pb {
    padding-bottom: 2;
}

.mb1 {
    margin-bottom: 1;
}

.label-switch {
    height: 3;
    content-align: center middle;
    width: auto;
}

.container {
    height: auto;
    width: auto;
}

.input-margin {
    margin: 1 16;
}

.input-margin-sm {
    margin: 1 2;
}

.small-input {
    width: 31%;
}

.horizontal-inputs {
    /* background: red; */
    width: 100%;
    height: 3;
    align: center middle;
}

.center {
    align: center middle;
}

.bg {
    background: rgb(13, 49, 49);
}

.bg-b {
    background: blue;
}

.bg-y {
    background: rgb(129, 202, 12);
}

.with-border {
    border: heavy rgb(12, 145, 12);
}

.full-width {
    width: 100%;
}

.projects-habilities {
    /* background: red; */
    height: 10;
    align: center middle;
    width: 42;
}

.btn-save-pw {
    width: 100%;
    height: 3;
    align: center middle;
}

.label {
    /* background: rgb(255, 0, 0); */
    margin: 0 0;
    padding: 0 0;
    align: center middle;
    width: 100%;
    height: 20%;
}

.h-auto {
    height: auto;
}

.text-center {
    text-align: center;
}

.text {
    align: center middle;
    text-align: center;
    width: 100%;
    margin-top: 1;
}

.buttons {
    layout: horizontal;
    align: center middle;
    width: 100%;
    height: 10%;
}


