Screen {
    align: center middle;
}

Button {
    margin: 0 2;
    text-align: center;
}

.horizontal {
    layout: horizontal;
}

.vertical {
    layout: vertical;
}

Switch {
    height: auto;
    width: auto;
}



.label-switch {
    height: 3;
    content-align: center middle;
    width: auto;
}

.container {
    height: auto;
    width: auto;
}

.input-margin {
    margin: 1 16;
}

.input-margin-sm {
    margin: 1 4;
}


.small-input {
    width: 31%;
}

.horizontal-inputs {
    /* background: red; */
    width: 100%;
    height: 3;
    align: center middle;
}

.center {
    align: center middle;
}

.bg {
    background: rgb(13, 49, 49);
}

.with-border {
    border: heavy rgb(12, 145, 12);
}

.btn-save-pw {
    width: 100%;
    height: 3;
    align: center middle;
}

.label {
    /* background: rgb(255, 0, 0); */
    margin: 0 0;
    padding: 0 0;
    align: center middle;
    width: 100%;
    height: 20%;
}

.text-center {
    text-align: center;
}

.text {
    align: center middle;
    text-align: center;
    width: 100%;
    margin-top: 1;
}

.buttons {
    /* background: rgb(129, 202, 12); */
    layout: horizontal;
    align: center middle;
    width: 100%;
    height: 10%;
}


