Screen {
    align: center middle;
}

Input {
    margin: 1 20;
}

Button {
    margin: 0 2;
    text-align: center;
}


.center {
    align: center middle;
}

.bg {
    background: rgb(13, 49, 49);
}

.with-border {
    border: heavy rgb(12, 145, 12);
}


.label {
    /* background: rgb(255, 0, 0); */
    margin: 0 0;
    padding: 0 0;
    align: center middle;
    width: 100%;
    height: 20%;
}

.text {
    align: center middle;
    text-align: center;
    width: 100%;
    margin-top: 1;
}

.buttons {
    /* background: rgb(129, 202, 12); */
    layout: horizontal;
    align: center middle;
    width: 100%;
    height: 10%;
}


